[submodule "themes/minimal"]
	path = themes/minimal
	url = https://github.com/calintat/minimal.git
[submodule "public"]
	path = public
	url = https://github.com/shreyas-shankar/shreyas-shankar.github.io.git
	branch = master
